# Ignore byte-compiled Python code.
*.py[cod]

# Ignore common venv names.
/*venv/

# Ignore setup files created by install.sh.
*.egg-info
/build/
/lab2d/

# Ignore saved models.
/examples/results/
/meltingpot/assets/
/.idea/

/.vscode/
MARL/PP_checkpoints/
MARL/SP_eval_checkpoints/
MARL/SP_checkpoints/
MARL/FCP_checkpoints/